.tag {
  display: inline-flex;
  justify-content: center;
  min-width: 80px;
  max-height: 60px;
  border-radius: 100px;
  background: #3a39ff;
  color: #fff;
  padding: 11px 32px;
  white-space: nowrap;
  max-width: 100%;
  font-size: 25px;
  margin-right: 1rem;
}
