.component {
  text-align: center;
  height: 100vh;

  h2 {
    padding-top: 12.5rem;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .edit-profile {
    padding: 2rem;
    width: 100%;
  }

  form {
    padding-top: 1.25rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 16rem;
  }

  label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
  }

  input {
    width: 16rem;
    padding: 0.75rem;
    background-color: #323642;
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .input-field::placeholder {
    color: #999;
  }
  button {
    width: 8rem;
    padding: 0.75rem;
    background-color: var(--mainblue);
    color: var(--white);
    border: none;
    border-radius: 6.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  // 추후 수정?
  button:hover {
    background-color: var(--mainblue);
  }
}
