.component {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  width: 100%;
  // height: 75rem;
  aspect-ratio: 1/0.8;
  max-height: 81.25rem;
  min-height: 59rem;

  .posterCardWrapper {
    display: flex;
    flex-flow: row nowrap;
    position: relative;

    top: 0;
    width: 90rem;
    height: 31.25rem;

    margin: 0;
    padding: 0;

    border: 1px solid black;
    overflow: visible;
  }

  .posterCardList {
    width: 18.75rem;
    aspect-ratio: 1/1.414;
    list-style: none;
    position: absolute;

    img {
      width: 100%;
      aspect-ratio: 1/1.414;

      border: 1px solid var(--white);
      border-radius: 1.5rem;
    }

    &:nth-child(1) {
      left: 26%;
      top: 65%;
      transform: translate(-50%, -50%) rotate(-10deg);
      z-index: 0;
    }
    &:nth-child(2) {
      left: 38%;
      top: 55%;
      transform: translate(-50%, -50%) rotate(-5deg);
      z-index: 1;
    }
    &:nth-child(3) {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
    &:nth-child(4) {
      left: 62%;
      top: 55%;
      transform: translate(-50%, -50%) rotate(5deg);
      z-index: 1;
    }
    &:nth-child(5) {
      left: 74%;
      top: 65%;
      transform: translate(-50%, -50%) rotate(10deg);
      z-index: 0;
    }
  }

  .box {
    z-index: 3;
    position: absolute;
    transform: translate(0, 50%);
    transform-origin: top;
    top: 2%;

    width: 95%;
    aspect-ratio: 1/0.5;
    max-width: 95rem;
    min-width: 71.25rem;

    border-radius: 2.5rem;

    background-image: url('/src/routes/Home/assets/posterBoxImg.png');
    background-position: center; /* 중앙을 기준으로 배치 */
    background-size: cover; /* 요소 크기에 맞게 이미지 크기 조정 */

    .imgFilter {
      position: absolute;
      width: 100%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.3);
    }

    .contentsWrapper {
      position: absolute;
      transform: translate(-50%);
      left: 50%;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: end;
      gap: 2rem;

      width: 90%;
      height: 100%;

      // font-size: 3rem;
      font-size: clamp(2rem, 3vw, 3rem);
      font-weight: 600;

      .textWrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: end;

        .secondLine {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          img {
            margin-left: 1rem;
            height: clamp(2rem, 3vw, 3rem);
          }
        }
      }

      .button {
        padding: 1.2rem 2rem;

        border-radius: 999rem;

        background-color: var(--mainblue);

        text-align: center;
        vertical-align: middle;
        color: var(--white);
        font-size: clamp(1.2rem, 1.5vw, 1.8rem);
        text-decoration: none;

        :visited {
          color: var(--white);
          text-decoration: none;
        }
      }

      .infoText {
        position: absolute;
        bottom: 10%;

        font-size: clamp(1rem, 2vw, 1rem);
        font-weight: 400;
      }
    }
  }
}
