.component {
  padding: 0 5.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 67.5rem;
  max-width: 90rem;
  margin: 0 auto;

  section {
    width: 96.875rem;

    p {
      margin: 5rem 0;
      font-size: 2rem;
      font-weight: 700;
    }
  }

  .listHeader {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 2.5rem;
    }
  }

  .infoContainer {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }

  input {
    margin: 0.4375rem;
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
  }

  .loadMoreButton {
    background-color: var(--mainblue);
    color: #ffffff;
    border: none;
    border-radius: 3.125rem;
    font-size: 1.5625rem;
    font-weight: 600;
    line-height: 150%;
    width: 13.781rem;
    height: 4.219rem;
    margin-top: 8rem;
  }

  hr {
    margin-bottom: 4.3125rem;
  }
}
