.component {
  padding: 0 90px;

  .listHeader {
    margin-top: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .infoContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  label {
    padding: 20px;
  }
  input {
    margin: 7px;
  }

  select {
    border: none;
    color: #fff;
    background-color: #02081a;
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
  }

  .loadMoreButton {
    background-color: #3a39ff;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 1.5625rem;
    font-weight: 600;
    line-height: 150%;
    width: 10rem;
    height: 3rem;
  }

  hr {
    border: 0;
    border-top: 0.75px solid #fff;
  }
}
