.component {
  padding: 0 20px;

  .listHeader {
    border-bottom: 0.078125rem solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .infoContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
  }

  .loadMoreButton {
    background-color: #3a39ff;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 1.5625rem;
    font-weight: 600;
    line-height: 150%;
    width: 10rem;
    height: 3rem;
  }
}
