.component {
  padding: 0 90px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .listHeader {
    margin-top: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .infoContainer {
    width: 1440px;
    display: grid;
    gap: 25px;
    margin-top: 90px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style: none;
    padding: 0;
  }

  label {
    padding: 20px;
  }
  input {
    margin: 7px;
  }

  select {
    border: none;
    color: #fff;
    background-color: #02081a;
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
  }

  .loadMoreButton {
    background-color: #3a39ff;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 1.5625rem;
    font-weight: 600;
    line-height: 150%;
    width: 10rem;
    height: 3rem;
  }

  hr {
    border: 0;
    border-top: 0.75px solid #fff;
  }
}
