.component {
  display: flex;
  flex-flow: column row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50rem;

  .loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
      32px 0 #fff,
      -32px 0 #fff;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
  }

  @keyframes flash {
    0% {
      background-color: #fff2;
      box-shadow:
        32px 0 #fff2,
        -32px 0 #fff;
    }
    50% {
      background-color: #fff;
      box-shadow:
        32px 0 #fff2,
        -32px 0 #fff2;
    }
    100% {
      background-color: #fff2;
      box-shadow:
        32px 0 #fff,
        -32px 0 #fff2;
    }
  }
}
