.descriptions {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .titleWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .title {
      max-width: 763px;
      margin: 0;
      margin-left: 3px;
      font-size: 60px;
    }

    .bookmarkCheckBox {
      img {
        width: 100%;
        height: 100%;

        object-fit: contain;
        object-position: center;
      }
    }
  }

  .description {
    max-width: 763px;
    font-size: 23px;
    margin: 0;
  }
}
