.component {
  width: 90rem;
  padding: 80px 0;
  color: #fff;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.mainBanner {
  max-width: 78rem;
  margin: 0 auto;
  margin-bottom: 40px;

  h1 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
  }
}

.subBanner {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 78rem;
  background-color: #3a39ff; // blue background for the bottom section
  border-radius: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  p {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    padding: 10px;
    padding-left: 36px;
    margin-right: 20%;
  }

  .bannerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 329px;

    margin-right: 40px;
    padding: 22 72px;
    height: 5.125rem;
    background-color: #fff;
    color: #3a39ff;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #e0e0e0;
    }
  }
}
