.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--mainblue);
  border-radius: 100px 100px 0px 0px;
  width: 100%;
  min-height: 2433px;
  gap: 92px;

  .text {
    width: 1555px;
    margin-top: 314px;
    font-size: 50px;
    font-weight: 800;
    text-align: left;
  }
  .wrapper {
    display: flex;
    align-items: center;
    width: 1555px;
    height: 412px;
    border-radius: 50px;
    background-color: var(--white);
    gap: 82px;

    img {
      margin-left: 46px;
      width: 300px;
      height: 300px;
    }
  }
}
