.exhibitContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
}

.slide {
  text-align: center;
  font-size: 18px;
  background: #d9d9d9;
  border-radius: 2.1875rem;
  width: 23px;
}
