.component {
  .filterHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 2.4375rem;
      margin-left: 1rem;
    }

    div {
      display: flex;
    }
  }

  .filterButton {
    border: none;
    background-color: transparent;
  }

  .filterCategory {
    list-style-type: none;

    li {
      display: flex;
      font-weight: 700;
      white-space: nowrap;
      margin: 1rem;
    }

    img {
      width: 75rem;
      margin-left: 1rem;
    }

    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
    }
  }
}
.swiperContainer {
  width: 100%;
}

.tag {
  white-space: nowrap;
  padding: 0.5rem;
  height: 100%;
  border: none;
  background-color: #d9d9d9;
  border-radius: 6.25rem;
}
