@import '/src/styles/main.scss';
.warpper {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 362px;
  font-family: Pretendard;
  .title {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 125px;
    font-weight: 700;
    white-space: pre-line;
    margin-bottom: 46px;
  }
  .subtitle {
    margin: 0;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 67px;
  }
  .linktext {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #fff;
    width: 329px;
    height: 95px;
    border-radius: 80px;
    background: #3a39ff;
    font-size: 25px;
    font-weight: 700;
  }
}
