.component {
  border-radius: 6.25rem 6.25rem 0rem 0rem;
  background: var(--mainBlue, #3a39ff);
  // height: 34.375rem;
  height: 26.5rem;

  .searchResult {
    font-size: 2.8125rem; // 3.75 * 0.75
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-top: 6.51875rem; // 8.69 * 0.75
    padding-left: 3rem;
  }

  .searchTerm {
    font-weight: 800;
  }
}
