.component {
  border-radius: 6.25rem 6.25rem 0rem 0rem;
  background: var(--mainblue);
  height: 26.5rem;

  .searchResult {
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-top: 6.51875rem;
    padding-left: 3rem;
  }

  .searchTerm {
    font-weight: 800;
  }
}
