.component {
  border: 0;
  background-color: transparent;
  font-size: 40px;
  display: flex;
  align-items: center;
  margin-top: 139px;
  margin-bottom: 9.87rem;
  margin-left: 2rem;
  gap: 30px;
  width: 250px;
  font-weight: 700;
  color: #fff;
}
