.component {
  display: flex;
  justify-content: right;
  align-items: end;

  height: 16.59375rem;
  position: relative;
  top: -5.90625rem;

  background: var(--background);
  border-radius: 4.6875rem 4.6875rem 0 0;
  margin-bottom: -5.90625rem;

  padding-left: 8.01875rem;
  padding-right: 8.955rem;

  label,
  select {
    font-size: 1.40625rem;
    font-weight: 500;
    line-height: 150%;
    display: flex;
    align-items: center;
  }

  input {
    appearance: none;
    width: 1.171875rem;
    height: 1.171875rem;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 4.08rem;
    margin-left: 0.60625rem;

    &:checked {
      background: var(--mainblue) url(/Icon/IconCheckbox.svg) center/2rem no-repeat;
    }
  }

  select {
    appearance: none;
    border: none;
    background: transparent;
    color: #fff;
    background-color: pink;
    padding-right: 1.2rem;
    background: url('/Icon/IconSortArrow.svg') no-repeat right center;
    background-size: 1.171875rem 1.171875rem;

    &:focus {
      outline: none;
      border: 1px solid var(--mainblue);
    }
  }

  option {
    background: var(--background);
  }
}
