.component {
  border: 0;
  background-color: transparent;
  font-size: 40px;
  display: flex;
  align-items: center;
  margin-top: 133.92px;
  margin-bottom: 128px;
  gap: 30px;
  width: 250px;
  font-weight: 700;
  color: var(--white);
}
