.component {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  margin: 15rem 0 3.75rem 0;
  .wrapperBox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1rem;

    // width: calc(90% - 2 * 1rem);
    width: 90%;
    max-width: 90rem;
    min-width: 67.5rem;

    padding: 6rem 0 4rem 0;

    border-radius: 3rem;
    background-color: var(--mainblue);

    .leftSide {
      display: flex;
      flex-flow: column nowrap;

      gap: 6rem;

      form {
        font-size: 1.6rem;
        font-weight: 600;

        label {
          display: inline-block;
          margin-bottom: 1.8rem;
        }

        input {
          width: calc(100% - 2 * 1.5rem);
          height: 2.5rem;

          padding: 0 1.5rem;
          margin-bottom: 0.8rem;

          font-weight: 500;

          color: var(--white);
          background-color: transparent;
          border: 1px solid var(--white);
          border-radius: 0.5rem;

          &::placeholder {
            color: var(--white);
            font-size: 0.9rem;
            font-weight: 300;
          }
        }

        button {
          width: 8rem;
          height: 2.5rem;
          border: transparent;
          border-radius: 999rem;

          color: var(--mainblue);
          font-weight: 700;

          background-color: var(--white);
        }
      }

      img {
        width: 20rem;
      }
    }

    .rightSide {
      display: flex;
      flex-flow: column nowrap;

      width: 55%;

      .navigation {
        display: flex;
        flex-flow: row nowrap;
        justify-content: end;
        align-items: start;

        width: 100%;
        height: 20rem;
        gap: 5rem;
      }

      .groupText {
        text-align: end;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
      }

      .profile {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        gap: 10px;
      }

      .rightText {
        margin-top: 3.5rem;
        margin-bottom: 0;

        font-size: 0.8rem;
        font-weight: 300;
        text-align: end;
      }
    }
  }
}
