.component {
  .filterHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 2.4375rem;
      margin-left: 1rem;
    }

    div {
      display: flex;
    }
  }

  .filterButton {
    border: none;
    background-color: transparent;
  }

  .filterCategory {
    fieldset {
      display: flex;
      flex-flow: column nowrap;
      font-weight: 700;
      white-space: nowrap;
      width: 100%;

      img {
        width: 75rem;
        margin-left: 1rem;
      }

      .swiperContainer {
        width: 100%;

        .swiperSlide {
          width: 50px;
          white-space: nowrap;
          padding: 0.5rem;
          height: 100%;
          border: none;
          background-color: #d9d9d9;
          border-radius: 6.25rem;
          user-select: none;
        }
      }
    }

    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
    }
  }
}
