.component {
  .filterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;

    .headerwrapper {
      display: flex;
      gap: 24px;
      h2 {
        margin: 0;
        font-size: 60px;
      }
    }

    button {
      background-color: transparent;
      border: none;
    }
  }

  .filterCategory {
    display: flex;
    flex-direction: column;
    gap: 100px;

    &.hidden {
      display: none;
    }

    button {
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: right;
      font-size: 25px;
      font-style: normal;
      font-weight: 600;
      color: var(--graytext);
    }

    .tagwrapper {
      border: none;

      .swiperContainer {
        width: 1550px;

        .swiperSlide {
          width: auto;
          white-space: nowrap;
          height: 100%;
          border: none;
          background-color: var(--mainblue);
          border-radius: 100px;
          user-select: none;
          border: 2px solid transparent;
          &.checked {
            border-color: var(--white);
          }
        }

        .tagLabel {
          display: block;
          width: 100%;
          height: 100%;
          padding: 11px 32px;
          cursor: pointer;
          font-size: 25px;
          font-weight: 600;
          transition: border 0.3s ease;
        }

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
      }

      .title {
        display: flex;
        gap: 35px;
        margin-bottom: 35px;

        legend {
          margin: 0;
          font-size: 40px;
          font-weight: 700;
        }
      }
    }
  }

  .filterButton {
    display: block;
    color: var(--graytext);
    font-size: 25px;
    width: 50px;
    height: 50px;
    background-color: var(--mainblue);
    border-radius: 50%;
  }

  .resetButton {
    margin: 0 176px 54px 0;
  }
}
